h1 {
    font-size: 30px;
    margin: 0;
    line-height: 50px;
    /* Place titles in the center */
    text-align: center;
}

.connection-button {
    margin: 0 10px;
    border-radius: 5px;
    padding: 5px;
    font-size: 17px;
    text-decoration: none;
    display: inline-block;
    width: 120px;
    height: 30px;
    /* Place the text in the center horizontaly and verticaly */
    text-align: center;
    line-height: 30px;
    /* Place the button in the right and on the same level as the new topic button */
    position: absolute;
    right: 0;
    top: 0;
}

.content {
    position: relative;
    top: 50px;
    margin-bottom: 40px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#connection {
    background-color: #badbf6;
    color: #fff;
}

#connection:hover {
    background-color: #dbefff;
    color: #8cc9f4;
}

#deconnection {
    background-color: #f6baba;
    color: #fff;
}

#deconnection:hover {
    background-color: #ffdada;
    color: #f48c8c;
}