.new-topic {
  background-color: #8de0c9;
  border-radius: 15px;
  padding: 10px;
  width: 15%;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px auto 10px auto;
  font-size: 20px;
}

.new-topic img {
  width: 20px;
  height: 20px;
  display: inline;
  margin-right: 10px;
}

.new-topic:hover {
  background-color: #c1f1e3;
}

.topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.topic-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 50%;
  background-color: #85a7c2;
}

.topic-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;

}

.topic-container h3 {
  font-size: 18px;
  margin: 0 0 10px 0;
}

.topic-container p {
  font-size: 14px;
  margin: 0;
}

.vote-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vote-buttons button {
  margin-bottom: 5px;
}

.vote-buttons .vote-count {
  font-size: 14px;
}

.upvote img, .downvote img {
  width: 30px;
  height: 30px;
}

.upvote img:hover, .downvote img:hover {
  cursor: pointer;
  filter: invert(80%);
}

.downvote img {
  transform: rotate(180deg);
}

.votes {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 10px;
}

.votes p {
  margin: 0;
  font-size: 20px;
}
